/* Cover component styling */
.cover-container {
    background-color: darkred;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.2vw;
    transition: 0.15s;
  }
  
  .cover-container:hover {
    scale: 1.05;
  }
  
  .cover-container:active {
    filter: brightness(75%);
    scale: 1;
  }