/* ResetButton component styling */
.resetButton-button{
    color: white;
    border: #fff;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    background-color: darkred;
    font-family: Nosifer;
}

.resetButton-button:hover{
    scale: 1.05;
    cursor: pointer;
}

.resetButton-button:active{
    filter: brightness(75%);
    scale: 1;
}