/* Import font used in header */
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

/* App component styling */
.header-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.header {
    font-size: 3.7vw;
    font-family: Nosifer;
    grid-column-start: 2;
    grid-column-end: 5;
}

.glow {
    color: darkred;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px darkred, 0 0 40px darkred, 0 0 50px darkred, 0 0 60px darkred, 0 0 70px darkred;
}

.resetButton-container {
    grid-column-start: 5;
    grid-column-end: 6;
}

.app-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.images-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}