/* Import font used in header */
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

/* General styling */
body {
  background-color: black;
  background-image: url("assets/halloween.png");
  background-size: cover;
  color: white;
  text-align: center;
}

.header {
  font-size: 48px;
  text-align: center;
  font-family: Nosifer;
}

.glow {
  color: darkred;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px darkred, 0 0 40px darkred, 0 0 50px darkred, 0 0 60px darkred, 0 0 70px darkred;
}

/* App component styling */
.app-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Category component styling */
.category-container {
  position: relative;
}

.category-slots {
  max-width: fit-content;
  /* border: 1px solid white; */
  margin: auto;
  /* display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around; */
  
}

/* Slot component styling */
.slot-container {
  margin-bottom: 15px;
  /* background-color: black; */
  height: 125px;
  width: 150px;
  position: relative;
}

.slot-container:hover {
  cursor: pointer;
}

/* Cover component styling */
.cover-container {
  background-color: darkred;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Challenge component styling */
.challenge-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* For grå bakgrunn på hele challenge-boksen */
  /* background-color: darkslategray; */
}

/* For grå bakgrunn kun bak challenge-tekst */
/* .challenge-container h3 {
  background-color: darkslategray;
} */